:root {
  --main-text-color: #212121;
  --light-text-color: #757575;
  --secondary-text-color: #2196F3;
  --dark-bcg-color: #2F303A;
  --light-bcg-color: #F5F4FA;
  --main-light-color: #FFFFFF;
  --border-color: #ECECEC;
  --margin30: 30px;
  --padding94: 94px;
  --time-transition: 250ms;
  --line-transition: cubic-bezier(0.4, 0, 0.2, 1);
  --padding-mobile: 60px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--main-light-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.link {
  display: inline-block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.headers {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .headers {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.1785714286;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  scale: 1;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1), scale 1000ms;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  scale: 1.5;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: #FFFFFF;
  padding: 40px;
  z-index: 100;
}

.modal-close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: fill var(--time-transition) var(--line-transition);
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
  fill: var(--secondary-text-color);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal-form-title {
  margin-bottom: 12px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  margin-bottom: 0;
  padding-left: 42px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--time-transition) var(--line-transition);
}
.modal-form-input:focus {
  border-color: var(--secondary-text-color);
  outline: none;
}

.modal-form-field-textarea {
  margin-bottom: 20px;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-input-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--time-transition) var(--line-transition);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--secondary-text-color);
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-field-desc {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--light-text-color);
  display: block;
  margin-bottom: 4px;
}

.modal-form-massage {
  display: block;
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color var(--time-transition) var(--line-transition);
}
.modal-form-massage:focus {
  border-color: var(--secondary-text-color);
  outline: none;
}
.modal-form-massage::placeholder {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check-field {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 31px;
}

.modal-form-check {
  appearance: none;
  position: absolute;
}

.modal-form-own-check {
  display: block;
  align-self: center;
  margin-right: 7px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  background-color: var(--main-light-color);
  transition: box-shadow var(--time-transition) var(--line-transition), background-color var(--time-transition) var(--line-transition), fill var(--time-transition) var(--line-transition);
}
.modal-form-check:focus + .modal-form-own-check {
  box-shadow: 0 0 0 1px var(--secondary-text-color);
}
.modal-form-check:checked + .modal-form-own-check {
  background-color: var(--secondary-text-color);
  border-radius: 2px;
  border: none;
  fill: var(--main-light-color);
}

.check-text {
  display: block;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
}

.modal-link {
  display: inline-block;
  text-decoration-line: underline;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.modal-form-submit {
  display: block;
  align-self: center;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  padding: 10px;
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
  background-color: var(--secondary-text-color);
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--time-transition) var(--line-transition);
}
.modal-form-submit:hover, .modal-form-submit:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
}

@media screen and (min-width: 1200px) {
  .modal-form-title {
    margin-bottom: 12px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }
  .modal-form {
    display: flex;
    flex-direction: column;
  }
  .modal-form-input {
    margin-bottom: 0;
    padding-left: 42px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--time-transition) var(--line-transition);
  }
  .modal-form-input:focus {
    border-color: var(--secondary-text-color);
    outline: none;
  }
  .modal-form-field-textarea {
    margin-bottom: 20px;
  }
  .modal-form-field {
    margin-bottom: 10px;
  }
  .modal-form-input-icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill var(--time-transition) var(--line-transition);
  }
  .modal-form-input:focus + .modal-form-input-icon {
    fill: var(--secondary-text-color);
  }
  .modal-form-input-wrapper {
    display: block;
    position: relative;
  }
  .modal-form-field-desc {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--light-text-color);
    display: block;
    margin-bottom: 4px;
  }
  .modal-form-massage {
    display: block;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    transition: border-color var(--time-transition) var(--line-transition);
  }
  .modal-form-massage:focus {
    border-color: var(--secondary-text-color);
    outline: none;
  }
  .modal-form-massage::placeholder {
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .modal-form-check-field {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .modal-form-check {
    appearance: none;
    position: absolute;
  }
  .modal-form-own-check {
    display: block;
    align-self: center;
    margin-right: 7px;
    border: 2px solid var(--main-text-color);
    border-radius: 2px;
    background-color: var(--main-light-color);
    transition: box-shadow var(--time-transition) var(--line-transition), background-color var(--time-transition) var(--line-transition), fill var(--time-transition) var(--line-transition);
  }
  .modal-form-check:focus + .modal-form-own-check {
    box-shadow: 0 0 0 1px var(--secondary-text-color);
  }
  .modal-form-check:checked + .modal-form-own-check {
    background-color: var(--secondary-text-color);
    border-radius: 2px;
    border: none;
    fill: var(--main-light-color);
  }
  .check-text {
    display: block;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--light-text-color);
  }
  .modal-link {
    display: inline-block;
    text-decoration-line: underline;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }
  .modal-form-submit {
    display: block;
    align-self: center;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    padding: 10px;
    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-light-color);
    background-color: var(--secondary-text-color);
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--time-transition) var(--line-transition);
  }
  .modal-form-submit:hover, .modal-form-submit:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: transparent;
  }
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
  .social-links {
    display: none;
  }
  .open-mobile-menu__btn {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
  }
  .open-mobile-menu__icon {
    width: 40px;
    height: 40px;
  }
  .flex-header__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 480px;
    width: 100%;
  }
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .logo__accent {
    display: inline-block;
    font-family: Raleway, sans-serif;
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1666666667;
  }
  .logo {
    display: inline-block;
    font-family: Raleway, sans-serif;
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1666666667;
  }
  .mobile-menu {
    background-color: var(--main-light-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 40px;
    padding-top: 48px;
    padding-right: 83px;
    padding-bottom: 48px;
  }
  .close-mobile-menu__btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: 0;
    padding: 0;
    line-height: 0;
  }
  .close-mobile-menu__icon {
    width: 40px;
    height: 40px;
  }
  .close-mobile-menu__icon:focus-within {
    fill: var(--secondary-text-color);
  }
  .mobile-menu-nav {
    margin-bottom: 302px;
    justify-content: start;
  }
  .mobile-menu-nav__link {
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-align: start;
  }
  .mobile-menu-nav__link:focus-within {
    color: var(--secondary-text-color);
  }
  .mobile-menu-nav_item:not(:last-child) {
    margin-bottom: 32px;
  }
  .lmobile-contacts-links__phone {
    display: block;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.1764705882;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    text-align: start;
  }
  .mobile-contacts-links__mail {
    display: block;
    margin-bottom: 64px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: var(--light-text-color);
    text-align: start;
  }
  .mobie-socials {
    display: flex;
  }
  .mobie-socials__item:not(:last-child) {
    margin-right: 10px;
  }
  .mobie-socials__item:not(:last-child)::after {
    content: "";
    margin-left: 10px;
    width: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
  .mobie-socials__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2222222222;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }
}
.header {
  border-bottom: 1px solid var(--border-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .open-mobile-menu__btn {
    display: none;
  }
  .logo__accent {
    display: inline-block;
    font-family: Raleway, sans-serif;
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1666666667;
  }
  .logo {
    display: inline-block;
    font-family: Raleway, sans-serif;
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1666666667;
  }
  .flex-header__tablet {
    display: flex;
    text-align: center;
    justify-content: space-between;
  }
  .flex-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav {
    display: flex;
    margin-left: 88px;
  }
  .nav .item + .item {
    margin-left: 40px;
  }
  .nav .nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--main-text-color);
    text-decoration: none;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    transition: color var(--time-transition) var(--line-transition);
  }
  .nav .nav__link:hover, .nav .nav__link:focus {
    color: var(--secondary-text-color);
  }
  .straich::after {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--secondary-text-color);
    border-radius: 2px;
  }
  .social-links {
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .social-links .item + .item {
    margin-top: 10px;
  }
  .social-links .link {
    display: flex;
    text-align: center;
    color: var(--light-text-color);
    text-decoration: none;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
    transition: color var(--time-transition) var(--line-transition);
  }
  .social-links .link:hover, .social-links .link:focus {
    color: var(--secondary-text-color);
  }
  .link__icon {
    margin-right: 10px;
    fill: var(--light-text-color);
    width: 10px;
    height: 14px;
    transition: fill var(--time-transition) var(--line-transition);
  }
  .link:hover .link__icon,
.link:focus .link__icon {
    fill: var(--secondary-text-color);
  }
  .smartphone-icon {
    color: var(--light-text-color);
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    background-color: var(--main-light-color);
    border-bottom: 1px solid var(--border-color);
  }
  .logo__accent {
    font-size: 26px;
    line-height: 1.19;
  }
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
  .nav {
    display: flex;
    margin-left: 93px;
  }
  .social-links {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
    padding: 0;
  }
  .social-links .item + .item {
    margin-left: 50px;
    margin-top: 0;
  }
  .social-links .link {
    display: flex;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--light-text-color);
    text-decoration: none;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    transition: color var(--time-transition) var(--line-transition);
  }
  .social-links .link:hover, .social-links .link:focus {
    color: var(--secondary-text-color);
  }
  .link__icon {
    margin-right: 10px;
    fill: var(--light-text-color);
    transition: fill var(--time-transition) var(--line-transition);
  }
  .link:hover .link__icon,
.link:focus .link__icon {
    fill: var(--secondary-text-color);
  }
  .smartphone-icon {
    color: var(--light-text-color);
    width: 10px;
    height: 16px;
  }
}
.advertis-section {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  height: 400px;
  background-color: #C4C4C4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herophotom.jpg);
  background-position: center top;
  background-size: 480px 400px;
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advertis-section {
    background-image: url(../images/herophptom@2x.jpg);
  }
}
.advertis-section__header {
  width: 360px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-light-color);
}

.button {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  padding: 10px;
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
  background-color: var(--secondary-text-color);
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--time-transition) var(--line-transition);
}
.button:hover, .button:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
}

@media screen and (min-width: 768px) {
  .advertis-section {
    width: 768px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herophotot.jpg);
    background-position: center top;
    background-size: 768px 400px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .advertis-section {
    background-image: url(../images/herophotot@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .advertis-section {
    max-width: 1600px;
    width: auto;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herophoto.jpg);
    background-position: center top;
    background-size: 1600px 600px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .advertis-section {
    background-image: url(../images/herophoto@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .advertis-section__header {
    width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}
@media screen and (min-width: 1200px) {
  .button {
    width: 216px;
  }
}
.benefits-section {
  padding-top: var(--padding-mobile);
  padding-bottom: var(--padding-mobile);
}

.benefits-list__item {
  width: 450px;
}
.benefits-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.grey-box {
  display: flex;
  margin-bottom: 30px;
  background-color: var(--light-bcg-color);
  height: 120px;
  justify-content: center;
  align-items: center;
}

.benefits-list__header {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  text-align: center;
}

.benefits-list__text {
  font-size: 14px;
  line-height: 1.7142857143;
  color: var(--light-text-color);
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--margin30));
    margin-bottom: calc(-1 * var(--margin30));
  }
  .benefits-list__item {
    flex-basis: calc(50% - var(--margin30));
    margin-left: var(--margin30);
    margin-bottom: var(--margin30);
  }
  .benefits-list__header {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-section {
    padding-top: var(--padding94);
    padding-bottom: var(--padding94);
  }
  .benefits-list {
    display: flex;
    flex-wrap: nowrap;
  }
  .benefits-list__item {
    width: 270px;
  }
  .benefits-list__item + .benefits-list__item {
    margin-left: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .directions-section {
    display: none;
  }
}
.card-set {
  display: flex;
  justify-content: center;
  margin-left: calc(-1 * var(--margin30));
  margin-bottom: calc(-1 * var(--margin30));
}

.card-set__item {
  flex-basis: calc(33.3333333333 - var(--margin30));
  margin-left: var(--margin30);
  margin-bottom: var(--margin30);
}

.photo-overlay {
  position: relative;
  display: block;
}

.card-set__photo {
  display: block;
}

.photo-overlay__thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  overflow: auto;
  z-index: 10;
}

.photo-overlay__text {
  color: var(--main-light-color);
  padding: 27px 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.directions-section {
  padding-bottom: var(--padding94);
}

.team-section {
  padding-top: var(--padding-mobile);
  padding-bottom: var(--padding-mobile);
  background-color: var(--light-bcg-color);
  min-width: 480px;
  width: 100%;
}

.team-list__item {
  width: 450px;
  margin-bottom: var(--margin30);
}

.team-list__content {
  padding-top: 30px;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  background-color: var(--main-light-color);
}

.card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.social-list {
  background-color: var(--main-light-color);
  display: flex;
  justify-content: center;
  column-gap: 10px;
  padding-top: 16px;
  padding-bottom: 24px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-light-color);
  fill: #AFB1B8;
  transition: background-color var(--time-transition) var(--line-transition), fill var(--time-transition) var(--line-transition);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--secondary-text-color);
  fill: var(--main-light-color);
}

.team-list__header {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
}

.team-list__text {
  color: var(--light-text-color);
  font-size: 16px;
  line-height: 1.1875;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--margin30));
    margin-bottom: calc(-1 * var(--margin30));
  }
  .team-list__item {
    flex-basis: calc(50% - var(--margin30));
    margin-left: var(--margin30);
    margin-bottom: var(--margin30);
  }
}
@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: var(--padding94);
    padding-bottom: var(--padding94);
    background-color: var(--light-bcg-color);
  }
  .team-list {
    flex-wrap: nowrap;
  }
  .team-list__item {
    flex-basis: calc(25% - var(--margin30));
  }
  .social-list {
    background-color: var(--main-light-color);
    display: flex;
    justify-content: center;
    column-gap: 10px;
    padding-top: 16px;
    padding-bottom: 24px;
  }
  .social-list {
    padding-bottom: 30px;
  }
}
.clients-section {
  padding-top: var(--padding-mobile);
  padding-bottom: var(--padding-mobile);
  min-width: 480px;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  background-color: var(--main-light-color);
  fill: #AFB1B8;
  transition: border-color var(--time-transition) var(--line-transition), fill var(--time-transition) var(--line-transition);
}
.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--secondary-text-color);
  fill: var(--secondary-text-color);
}

@media screen and (max-width: 767) {
  .clients-list__item {
    flex-basis: calc(50% - var(--margin30));
    margin-left: var(--margin30);
    margin-bottom: var(--margin30);
  }
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--margin30));
    margin-bottom: calc(-1 * var(--margin30));
  }
}
@media screen and (min-width: 480px) {
  .clients-list__link {
    width: 210px;
  }
}
@media screen and (max-width: 1199px) {
  .clients-list__item {
    flex-basis: calc(33.3333333333% - var(--margin30));
    margin-left: var(--margin30);
    margin-bottom: var(--margin30);
  }
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--margin30));
    margin-bottom: calc(-1 * var(--margin30));
  }
}
@media screen and (min-width: 768px) {
  .clients-list__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-section {
    padding-top: var(--padding94);
    padding-bottom: var(--padding94);
  }
  .clients-list {
    display: flex;
    justify-content: center;
    column-gap: 30px;
  }
  .clients-list__link {
    width: 170px;
  }
}
@media screen and (max-width: 767px) {
  .portfolio-section {
    padding-top: var(--padding-mobile);
    padding-bottom: var(--padding-mobile);
    min-width: 480px;
    width: 100%;
  }
  .button-list_item {
    margin-bottom: 15px;
  }
  .button-list_item:not(:last-child) {
    margin-right: 8px;
  }
  .button-list {
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  .button-pfl {
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    border: 1px solid transparent;
  }
  .button-pfl_active {
    padding: 6px 25px;
    color: var(--main-light-color);
    background-color: var(--secondary-text-color);
    border-color: var(--secondary-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: color var(--time-transition) var(--line-transition), background-color var(--time-transition) var(--line-transition), box-shadow var(--time-transition) var(--line-transition);
  }
  .button-pfl_disable {
    color: var(--main-text-color);
    background-color: var(--light-bcg-color);
    border-color: var(--light-bcg-color);
    transition: color var(--time-transition) var(--line-transition), background-color var(--time-transition) var(--line-transition), box-shadow var(--time-transition) var(--line-transition);
  }
  .button-pfl_disable:hover, .button-pfl_disable:focus {
    color: var(--main-light-color);
    background-color: var(--secondary-text-color);
    border: 1px solid var(--secondary-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .galery-list__item {
    margin-bottom: var(--margin30);
  }
  .galery-overlay {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 101%;
    width: 100%;
    background: rgba(33, 150, 243, 0.9);
    color: var(--main-light-color);
    padding: 77px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    overflow: auto;
    z-index: 10;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .galery-thumb:hover,
.galery-thumb:focus {
    display: inline-block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .galery-thumb:hover .overlay,
.galery-thumb:focus .overlay {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transform: translateY(0%);
  }
  .galery-text {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: start;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
  }
  .galery-header {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
  }
  .galery-info {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--light-text-color);
  }
}
@media screen and (min-width: 768px) {
  .portfolio-section {
    padding-top: var(--padding-mobile);
    padding-bottom: var(--padding-mobile);
  }
  .button-list {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
  .button-list_item + .button-list_item {
    margin-left: 8px;
  }
  .button-pfl {
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    border: 1px solid transparent;
  }
  .button-pfl_active {
    padding: 6px 25px;
    color: var(--main-light-color);
    background-color: var(--secondary-text-color);
    border-color: var(--secondary-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: color var(--time-transition) var(--line-transition), background-color var(--time-transition) var(--line-transition), box-shadow var(--time-transition) var(--line-transition);
  }
  .button-pfl_disable {
    color: var(--main-text-color);
    background-color: var(--light-bcg-color);
    border-color: var(--light-bcg-color);
    transition: color var(--time-transition) var(--line-transition), background-color var(--time-transition) var(--line-transition), box-shadow var(--time-transition) var(--line-transition);
  }
  .button-pfl_disable:hover, .button-pfl_disable:focus {
    color: var(--main-light-color);
    background-color: var(--secondary-text-color);
    border: 1px solid var(--secondary-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .galery-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--margin30));
    margin-top: calc(-1 * var(--margin30));
  }
  .galery-list__item {
    flex-basis: calc(50% - var(--margin30));
    margin-left: var(--margin30);
    margin-top: var(--margin30);
  }
  .galery-overlay {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 101%;
    width: 100%;
    background: rgba(33, 150, 243, 0.9);
    color: var(--main-light-color);
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    overflow: auto;
    z-index: 10;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .galery-thumb {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .galery-thumb:hover,
.galery-thumb:focus {
    display: inline-block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .galery-thumb:hover .overlay,
.galery-thumb:focus .overlay {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transform: translateY(0%);
  }
  .galery-text {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 19px;
    padding-right: 19px;
    text-align: start;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    flex-grow: 1;
  }
  .galery-header {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
  }
  .galery-info {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--light-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-top: var(--padding94);
    padding-bottom: var(--padding94);
  }
  .button-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }
  .button-list_item + .button-list_item {
    margin-left: 8px;
  }
  .button-pfl {
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    border: 1px solid transparent;
  }
  .button-pfl_active {
    padding: 6px 25px;
    color: var(--main-light-color);
    background-color: var(--secondary-text-color);
    border-color: var(--secondary-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: color var(--time-transition) var(--line-transition), background-color var(--time-transition) var(--line-transition), box-shadow var(--time-transition) var(--line-transition);
  }
  .button-pfl_disable {
    color: var(--main-text-color);
    background-color: var(--light-bcg-color);
    border-color: var(--light-bcg-color);
    transition: color var(--time-transition) var(--line-transition), background-color var(--time-transition) var(--line-transition), box-shadow var(--time-transition) var(--line-transition);
  }
  .button-pfl_disable:hover, .button-pfl_disable:focus {
    color: var(--main-light-color);
    background-color: var(--secondary-text-color);
    border: 1px solid var(--secondary-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .galery-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--margin30));
    margin-top: calc(-1 * var(--margin30));
  }
  .galery-list__item {
    flex-basis: calc(33.3333333333% - var(--margin30));
    margin-left: var(--margin30);
    margin-top: var(--margin30);
  }
  .galery-overlay {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 101%;
    width: 100%;
    background: rgba(33, 150, 243, 0.9);
    color: var(--main-light-color);
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    overflow: auto;
    z-index: 10;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .galery-thumb:hover,
.galery-thumb:focus {
    display: inline-block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .galery-thumb:hover .overlay,
.galery-thumb:focus .overlay {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transform: translateY(0%);
  }
  .galery-text {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 19px;
    padding-right: 19px;
    text-align: start;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
  }
  .galery-header {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
  }
  .galery-info {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--light-text-color);
  }
}
.footer-section {
  background-color: var(--dark-bcg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  min-width: 480px;
  width: 100%;
}

.footer-headers {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light-color);
}

.adress {
  color: var(--main-light-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  font-style: normal;
  transition: color var(--time-transition) var(--line-transition);
}
.adress:hover, .adress:focus {
  color: var(--secondary-text-color);
}

.adress-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.footer-logo {
  display: inline-block;
  color: var(--main-light-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.0833333333;
}

.footer-logoaccent {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.0833333333;
}

.contact-item:not(:last-child) {
  margin-bottom: 8px;
}

.container-foter-adress {
  margin-bottom: 60px;
}

.container-footer-socials {
  width: 206px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.social-list-footer {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-list-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--main-light-color);
  transition: background-color var(--time-transition) var(--line-transition);
}
.social-list-footer__link:hover, .social-list-footer__link:focus {
  background-color: var(--secondary-text-color);
}

.footer-form-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light-color);
}

.footer-form-input {
  margin-right: 16px;
  margin-bottom: 20px;
  max-width: 450px;
  width: 100%;
  height: 50px;
  padding: 15px 15px;
  background-color: var(--dark-bcg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #FFFFFF;
}
.footer-form-input::placeholder {
  background-color: var(--dark-bcg-color);
  border-radius: 4px;
}

.footer-form-submit {
  position: relative;
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  padding: 10px 64px 10px 31px;
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: start;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
  background-color: var(--secondary-text-color);
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--time-transition) var(--line-transition);
}
.footer-form-submit:hover, .footer-form-submit:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
}

.footer-form-input-icon {
  display: block;
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .tablet-footer-flex {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  .container-footer-socials {
    margin: 0;
  }
  .footer-form-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-section {
    text-align: start;
  }
  .footer-logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
  .footer-logoaccent {
    font-size: 26px;
    line-height: 1.1923076923;
  }
  .contact-item:not(:last-child) {
    margin-bottom: 9px;
  }
  .flex-footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .container-foter-adress {
    margin-bottom: 0;
    width: 231px;
  }
  .container-footer-socials {
    margin-bottom: 0;
    margin-left: 70px;
  }
  .footer-form__field-wrapper {
    display: flex;
  }
  .footer-form-input {
    margin-right: 12px;
    width: 358px;
    height: 50px;
    padding: 15px 16px;
  }
  .footer-form-submit {
    min-width: 200px;
    height: 50px;
    padding: 10px 62px 10px 28px;
  }
}/*# sourceMappingURL=main.css.map */