


.clients-section {
    padding-top: var(--padding-mobile);
    padding-bottom: var(--padding-mobile);
    
    
}



.clients-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    background-color: var(--main-light-color);
    fill: #AFB1B8;

    transition: border-color var(--time-transition) var(--line-transition), fill var(--time-transition) var(--line-transition);

    &:hover,
    &:focus {
        border-color: var(--secondary-text-color);
        fill: var(--secondary-text-color);

    }
}


@media screen and (max-width: 767) {


    .clients-list__item {
        flex-basis: calc(100% / 2 - var(--margin30));
        margin-left: var(--margin30);
        margin-bottom: var(--margin30);

    }

    .clients-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(-1 * var(--margin30));
        margin-bottom: calc(-1 * var(--margin30));
    }

}

@media screen and (min-width: 480px) {
    .clients-list__link {
    
            width: 210px;
        }

}

      

@media screen and (max-width: 1199px) {


    .clients-list__item {
        flex-basis: calc(100% / 3 - var(--margin30));
        margin-left: var(--margin30);
        margin-bottom: var(--margin30);

    }

    .clients-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(-1 * var(--margin30));
        margin-bottom: calc(-1 * var(--margin30));
        justify-content: center;
    }

}

@media screen and (min-width: 768px) {
.clients-list__link {

    width: 226px;
}
}

@media screen and (min-width: 1200px) {
.clients-section {
    padding-top: var(--padding94);
    padding-bottom: var(--padding94);
}


.clients-list {
    display: flex;
    
    justify-content: center;
    column-gap: 30px;

}

.clients-list__link {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 170px;
//     height: 92px;
//     border: 1px solid #AFB1B8;
//     border-radius: 4px;
//     background-color: var(--main-light-color);
//     fill: #AFB1B8;

//     transition: border-color var(--time-transition) var(--line-transition), fill var(--time-transition) var(--line-transition);

// &:hover,
// &:focus {
//     border-color: var(--secondary-text-color);
//     fill: var(--secondary-text-color);

//         }
}
}


