@media screen and (max-width: 767px) {

    .nav {
        display: none;
    }

    .social-links {
        display: none;
    }

    .open-mobile-menu__btn {
        line-height: 0;
        border: none;
        background-color: transparent;
        padding: 0;

    }

    .open-mobile-menu__icon {
        width: 40px;
        height: 40px;

    }

    .flex-header__mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
            
                width: 100%;


    }

    .header {
        padding-top: 10px;
        padding-bottom: 10px;


    }

    .logo__accent {
        display: inline-block;
        font-family: Raleway, sans-serif;

        color: var(--secondary-text-color);
        font-weight: 700;
        font-size: 24px;
        line-height: calc(28/24);


    }

    .logo {
        display: inline-block;
        font-family: Raleway, sans-serif;

        color: var(--main-text-color);
        font-weight: 700;
        font-size: 24px;
        line-height: calc(28/24);

    }

.mobile-menu {

    background-color: var(--main-light-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    z-index: 100;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    overflow: scroll;
}

.mobile-menu__container {
 
    position: relative;
    padding-left: 40px;
    padding-top: 48px;
    padding-right: 83px;
    padding-bottom: 48px;
}

.close-mobile-menu__btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: 0;
    padding: 0;
    line-height: 0;

   
}

.close-mobile-menu__icon {
    width: 40px;
    height: 40px;

&:focus-within {
    fill: var(--secondary-text-color);
    }
}

.mobile-menu-nav {
    margin-bottom: calc(302/480*100vw);
    justify-content: start;

}

.mobile-menu-nav__link {
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47/40);
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-align: start;

&:focus-within {
    color: var(--secondary-text-color);
 }    
}

.mobile-menu-nav_item:not(:last-child) {
    margin-bottom: calc(32/480*100vw);
}

.lmobile-contacts-links__phone {
    display: block;
    margin-bottom: calc(32/480*100vw);
    font-weight: 500;
    font-size: calc(34/480*100vw);
    line-height: calc(40/34);
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    text-align: start;
    
}

.mobile-contacts-links__mail {

    display: block;
    margin-bottom: calc(64/480*100vw);
    font-weight: 500;
    font-size: calc(24/480*100vw);
    line-height: calc(28/24);
    letter-spacing: 0.02em;
    color: var(--light-text-color);
    text-align: start;

}

.mobie-socials {
    display: flex;
 
}
.mobie-socials__item:not(:last-child) {
    margin-right: calc(10/480*100vw);


&::after {
    content: "";
    margin-left: 10px; 
    width: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);

}
}

.mobie-socials__link {
    font-weight: 500;
    font-size: calc(18/480*100vw);
    line-height: calc(22/18);        
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

}