:root {
    --main-text-color: #212121;
    --light-text-color: #757575;
    --secondary-text-color: #2196F3;
    --dark-bcg-color: #2F303A;
    --light-bcg-color: #F5F4FA;
    --main-light-color: #FFFFFF;
    --border-color: #ECECEC;
    --margin30: 30px;
    --padding94: 94px;
    --time-transition: 250ms;
    --line-transition: cubic-bezier(0.4, 0, 0.2, 1);

}